@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #2C3E50;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* Animación suave para el menú móvil */
.menu-transition {
  transition: all 0.3s ease-in-out;
}